/*

color reference:
red = #7e0b1c
blue = #00374f
darker blue = #012b3e
blue/gray = #81989e
gold = #ba8249
cream = #fff6ed
black = #1d1d1d

 */

body {
	position:relative;
	margin:0; padding:0;
	background:#fff6ed;
	font-family:helvetica, arial, sans-serif;
	font-size:18px; font-weight:400;
	/*color:#00374f;*/
}

img {
	max-width:100%; height:auto;
	border:0;
}

a:focus {
	outline:none;
}

form,
ul,
ol,
li {
	margin:0; padding:0;
}


#content-wrapper {

}

.content-section {
	max-width:1200px;
	margin:0 auto; padding:0 0 40px;
}

.content {
	line-height:1.7;
	font-size:16px;
}

@media only screen and (min-width:569px) {
	.content {
		line-height:1.7;
		font-size:17px;
	}
}

@media only screen and (min-width:900px) {
	.content {
		line-height:1.7;
		font-size:18px;
	}
}

.content h1 {
	margin:0 0 10px;
	line-height:1.5;
	font-size:24px; font-weight:bold;
	color:#00374f;
}

@media only screen and (min-width:569px) {
	.content h1 {
		margin:0 0 15px;
		font-size:30px; font-weight:normal;
	}
}

@media only screen and (min-width:900px) {
	.content h1 {
		margin:0 0 15px;
		font-size:42px;
	}
}

.content h2 {
	margin:0 0 15px;
	line-height:1.5;
	font-size:21px; font-weight:bold;
	color:#00374f;
}

@media only screen and (min-width:569px) {
	.content h2 {
		margin:0 0 15px;
		font-size:28px; font-weight:normal;
	}
}

@media only screen and (min-width:900px) {
	.content h2 {
		margin:0 0 15px;
		font-size:33px;
	}
}

.content h3.front {
	margin:0 0 15px;
	line-height:1.5;
	font-size:21px;
	/*color:#1d1d1d;*/
	color:#00374f;
}

@media only screen and (min-width:569px) {
	.content h3.front {
		margin:0 0 15px;
		font-size:28px;
	}
}

@media only screen and (min-width:900px) {
	.content h3.front {
		margin:0 0 20px;
		font-size:33px;
	}
}

.content h3 {
	margin:0 0 15px;
	line-height:1.5;
	font-size:19px; font-weight:bold;
	color:#00374f;
}

@media only screen and (min-width:569px) {
	.content h3 {
		margin:0 0 15px;
		font-size:24px;
	}
}

@media only screen and (min-width:900px) {
	.content h3 {
		margin:0 0 20px;
		font-size:29px; font-weight:normal;
	}
}

.content h4 {
	margin:0 0 15px;
	line-height:1.5;
	font-size:16px; font-weight:bold;
	color:#00374f;
}

@media only screen and (min-width:569px) {
	.content h4 {
		margin:0 0 15px;
		font-size:17px;
	}
}

@media only screen and (min-width:900px) {
	.content h4 {
		margin:0 0 20px;
		font-size:18px;
	}
}

.content h5 {
	margin:0 0 15px;
	line-height:1.7;
	font-size:16px; font-weight:bold;
}

@media only screen and (min-width:569px) {
	.content h5 {
		margin:0 0 15px;
		font-size:17px;
	}
}

@media only screen and (min-width:900px) {
	.content h5 {
		margin:0 0 20px;
		font-size:18px;
	}
}

.content h6 {
	margin:0 0 15px;
	line-height:1.7;
	font-size:14px;
}

@media only screen and (min-width:569px) {
	.content h6 {
		margin:0 0 15px;
		font-size:14px;
	}
}

@media only screen and (min-width:900px) {
	.content h6 {
		margin:0 0 20px;
		font-size:15px;
	}
}

.content p {
	margin:0 0 25px;
}

@media only screen and (min-width:569px) {
	.content p {
		margin:0 0 30px;
	}
}

@media only screen and (min-width:900px) {
	.content p {
		margin:0 0 35px;
	}
}

.content hr {
	padding:0; margin:30px 0;
	border-top:2px solid #81989e;
}

.content a {
	color:#00374f; text-decoration:underline;
}

.content a:hover {
	color:#00374f; text-decoration:none;
}

.content ul {
	margin:20px 0 20px 15px; padding:0;
	list-style-type:none;
}

@media only screen and (min-width:569px) {
	.content ul {
		margin:20px 0 20px 30px;
	}
}

.content ul ul {
	margin-top:0; margin-bottom:0;
	list-style-type:circle;
}

.content ul ol {
	margin:0 0 0 30px;
}

.content ol {
	margin:20px 0 20px 35px; padding:0;
}

@media only screen and (min-width:569px) {
	.content ol {
		margin:20px 0 20px 50px;
	}
}

.content ol ol {
	margin:0 0 0 30px;
}

.content ol ul {
	margin-top:0; margin-bottom:0;
	list-style-type:circle;
}

.content ul li {
	margin:15px 0; padding:0 0 0 20px;
	background:url(images/li-arrow-3-2.png) no-repeat scroll 0 9px;
}

@media only screen and (min-width:569px) {
	.content ul li {
		margin:15px 0; padding:0 0 0 30px;
		background:url(images/li-arrow-3-1.png) no-repeat scroll 0 9px;
	}
}

@media only screen and (min-width:900px) {
	.content ul li {
		margin:15px 0;
	}
}

.content ul li ul li {
	padding:0;
	background:none;
}

.content ol li {
	margin:15px 0; padding:0;
	/*background:none;*/
}

.content ol li ul li {
	padding:0;
	background:none;
}

.content li:last-child {
	margin-bottom:0;
}

.content .styled-heading-a {
	margin:0 0 20px;
	line-height:1.4;
	font-size:26px; font-weight:normal;
	color:#ba8249;
}

@media only screen and (min-width:569px) {
	.content .styled-heading-a {
		margin:0 0 25px;
		line-height:1.4;
		font-size:37px;
	}
}

@media only screen and (min-width:900px) {
	.content .styled-heading-a {
		margin:0 0 40px;
		line-height:1.2;
		font-size:50px;
	}
}

@media only screen and (min-width:1200px) {
	.content .styled-heading-a {
		margin:0 0 50px;
		line-height:1.2;
		font-size:60px;
	}
}

a.button-1 {
	display:inline-block;
	margin:25px 0; padding:6px 18px;
	line-height:1.5;
	background:rgba(255,255,255,.85);
	cursor:pointer;
	font-size:18px; font-weight:400;
	color:#00374f; text-decoration:none;
}

@media only screen and (min-width:569px) {
	a.button-1 {
		margin:25px 0; padding:5px 20px;
		line-height:1.5;
		font-size:22px;
	}
}

@media only screen and (min-width:900px) {
		a.button-1 {
		margin:25px 0; padding:4px 25px 2px;
		line-height:1.5;
		font-size:35px;
	}
}

p a.button-1 {
	margin:5px 0;
}

a.button-1:hover {
	color:#00374f; text-decoration:none;
	background:#fff;
}

a.button-2 {
	display:inline-block;
	margin:25px 0; padding:6px 18px;
	line-height:1.5;
	background:rgba(0,55,79,.85);
	cursor:pointer;
	font-size:18px; font-weight:400;
	color:#fff6ed; text-decoration:none;
}

@media only screen and (min-width:569px) {
	a.button-2 {
		margin:25px 0; padding:5px 20px;
		line-height:1.5;
		font-size:22px;
	}
}

@media only screen and (min-width:900px) {
		a.button-2 {
		margin:25px 0; padding:4px 25px 2px;
		line-height:1.5;
		font-size:35px;
	}
}

p a.button-2 {
	margin:5px 0;
}

a.button-2:hover {
	color:#fff6ed; text-decoration:none;
	background:#012b3e;
}

.testimonial-signature {
	color:#ba8249;
}

@media only screen and (min-width:768px) {
	.testimonial-signature {
		text-align:right;
	}	
}

hr.styled-hr-1 {
	padding:0; margin:30px 0;
	border-top:2px solid #debd9c;
}

.content-column-1 {
	
}

@media only screen and (min-width:1000px) {
	.content-column-1 {
		float:right;
		width:30%;
	}
}

.content-column-2 {
	
}

@media only screen and (min-width:1000px) {
	.content-column-2 {
		float:left;
		width:65%;
	}
}

#section-api-1 table {
	width:100%;
	margin:0 0 20px;
	border:0; border-collapse:collapse;
	border-top:1px solid #ccc;
}

@media only screen and (min-width:569px) {
	#section-api-1 table {
		margin:0 0 20px;
	}
}

@media only screen and (min-width:900px) {
	#section-api-1 table {
		margin:0 0 20px;
	}
}

#section-api-1 caption {
	padding:7px 9px;
	border-top:1px solid #ccc;
	font-size:14px; color:#fff;
	background:#333;
}

@media only screen and (min-width:569px) {
	#section-api-1 caption {
		padding:8px 14px;
		font-size:15px;
	}
}

@media only screen and (min-width:900px) {
	#section-api-1 caption {
		padding:10px 16px;
		font-size:16px;
	}
}

#section-api-1 tr {

}

#section-api-1 th {
	padding:7px 9px;
	border:1px solid #00374f;
	font-size:14px;
	text-align:center;
	background:#f3e4d5;
}

@media only screen and (min-width:569px) {
	#section-api-1 th {
		padding:8px 14px;
		font-size:15px;
	}
}

@media only screen and (min-width:900px) {
	#section-api-1 th {
		padding:10px 16px;
		font-size:16px;
	}
}

#section-api-1 td {
	padding:7px 9px;
	border:1px solid #00374f;
	font-size:14px;
}

@media only screen and (min-width:569px) {
	#section-api-1 td {
		padding:8px 14px;
		font-size:15px;
	}
}

@media only screen and (min-width:900px) {
	#section-api-1 td {
		padding:10px 16px;
		font-size:16px;
	}
}

table.styled-table {
	width:100%;
	margin:0 0 20px;
	border:0; border-collapse:collapse;
	border-top:1px solid #ccc;
}

@media only screen and (min-width:569px) {
	table.styled-table {
		margin:0 0 20px;
	}
}

@media only screen and (min-width:900px) {
	table.styled-table {
		margin:0 0 20px;
	}
}

.styled-table caption {
	padding:7px 9px;
	border-top:1px solid #ccc;
	font-size:14px; color:#fff;
	background:#333;
}

@media only screen and (min-width:569px) {
	.styled-table caption {
		padding:8px 14px;
		font-size:15px;
	}
}

@media only screen and (min-width:900px) {
	.styled-table caption {
		padding:10px 16px;
		font-size:16px;
	}
}

.styled-table tr {
	border-bottom:1px solid #ccc;
}

.styled-table th {
	padding:7px 9px;
	font-size:14px;
	text-align:left;
	background:#eee;
}

@media only screen and (min-width:569px) {
	.styled-table th {
		padding:8px 14px;
		font-size:15px;
	}
}

@media only screen and (min-width:900px) {
	.styled-table th {
		padding:10px 16px;
		font-size:16px;
	}
}

.styled-table td {
	padding:7px 9px;
	font-size:14px;
}

@media only screen and (min-width:569px) {
	.styled-table td {
		padding:8px 14px;
		font-size:15px;
	}
}

@media only screen and (min-width:900px) {
	.styled-table td {
		padding:10px 16px;
		font-size:16px;
	}
}

img.image-left {
	display:block;
	margin:0 0 25px;
}

@media only screen and (min-width:569px) {
	img.image-left {
		float:left;
		max-width:95%;
		margin:0 5% 10px 0;
	}
}

@media only screen and (min-width:900px) {
	img.image-left {
		max-width:97%;
		margin:0 3% 10px 0;
	}
}

img.image-right {
	display:block;
	margin:0 0 25px;
}

@media only screen and (min-width:569px) {
	img.image-right {
		float:right;
		max-width:95%;
		margin:0 0 10px 5%;
	}
}

@media only screen and (min-width:900px) {
	img.image-right {
		max-width:97%;
		margin:0 0 10px 3%;
	}
}

img.image-center {
	display:block;
	margin:0 auto 20px;
}

@media only screen and (min-width:569px) {
	img.image-center {
		margin:0 auto 25px;
	}
}

@media only screen and (min-width:900px) {
	img.image-center {
		margin:0 auto 30px;
	}
}

.wrapper-responsive-video {
	position:relative;
	padding-bottom:56.25%; /* 16:9 */
	padding-top:25px;
	height:0;
}

.wrapper-responsive-video iframe {
	position:absolute; top:0; left:0;
	width:100%; height:100%;
}

.smart-anchor {
	/* needed by jQuery */
}

.smart-anchor-wrapper {
	position:relative;
}

.smart-anchor-active {
	position:absolute; top:-160px;
	visibility:hidden;
}

.clear-float {
	clear:both;
}

.text-big {
	font-size:110%;
}

@media only screen and (min-width:569px) {
	.text-big {
		font-size:120%;
	}
}

.text-color-1 {
	color:#1d1d1d;
}

.text-color-2 {
	color:#ba8249;
}

.text-color-3 {
	color:#00374f;
}

.text-color-4 {
	color:#fff;	
}

.divider-h {
	margin:10px 15px 35px;
	border-top:2px solid #81989e;
}

@media only screen and (min-width:569px) {
	.divider-h {
		margin:10px 15px 40px;
	}
}

@media only screen and (min-width:1230px) {
	.divider-h {
		max-width:1200px;
		margin:10px auto 40px;
	}
}

.top-wrapper-outer {
	padding:20px 15px 0;
	background:#00374f url(images/bg-top-wrapper-outer.jpg) no-repeat scroll 50% 100%;
	background-size:cover;
}

@media only screen and (min-width:1000px) {
	.top-wrapper-outer {
		padding:20px 45px 0;
		background:#00374f url(images/bg-top-wrapper-outer.jpg) no-repeat scroll 50% 100%;
		background-size:cover;
	}
}

#top-wrapper {
	margin:0 auto; padding:0 0 25px;
	font-weight:300;
}

@media only screen and (min-width:569px) {
	#top-wrapper {
		padding:0 0 35px;
	}
}

@media only screen and (min-width:900px) {
	#top-wrapper {
		max-width:1200px;
		padding:0 0 45px;
	}
}

.top-w-1 {
	text-align:center;
}

@media only screen and (min-width:1000px) {
	.top-w-1 {
		width:15%;
		margin:0 auto;
	}
}

.top-w-2 {
	padding:30px 0 0;
}

@media only screen and (min-width:1000px) {
	.top-w-2 {
		padding:30px 0 0;
	}
}

.top-w-3 {
	padding:0;
	font-size:18px;
	text-align:center; color:#fff;
}

@media only screen and (min-width:569px) {
	.top-w-3 {
		padding:20px 0 0;
		font-size:23px;
	}
}

@media only screen and (min-width:900px) {
	.top-w-3 {
		padding:20px 0 0;
		line-height:1.5;
		font-size:35px;
	}
}

@media only screen and (min-width:1000px) {
	.top-w-3 {
		padding:75px 0 0;
	}
}

.top-w-3 h1 {
	margin:0 0 8px;
	line-height:1.5;
	font-size:25px; font-weight:bold;
	color:#ba8249;
}

@media only screen and (min-width:321px) {
	.top-w-3 h1 {
		margin:0 0 10px;
		font-size:26px;
	}
}

@media only screen and (min-width:569px) {
	.top-w-3 h1 {
		margin:0 0 15px;
		font-size:37px; font-weight:normal;
	}
}

@media only screen and (min-width:900px) {
	.top-w-3 h1 {
		margin:0 0 15px;
		font-size:50px;
	}
}

@media only screen and (min-width:1200px) {
	.top-w-3 h1 {
		margin:0 0 15px;
		font-size:60px;
	}
}

.top-w-3 p {
	margin-left:auto; margin-right:auto;
}

#logo {
	padding:0 25%;
}

@media only screen and (min-width:1000px) {
	#logo {
		padding:0;
	}
}

.section-connector-1 {
	padding:0 0 35px;
	text-align:center;
}

@media only screen and (min-width:569px) {
	.section-connector-1 {
		padding:0 0 50px;
	}
}

@media only screen and (min-width:900px) {
	.section-connector-1 {
		padding:0 0 70px;
	}
}

.section-connector-1 img {
	vertical-align:top;
}

.section-connector-2 {
	padding:0 0 35px;
	text-align:center;
}

@media only screen and (min-width:569px) {
	.section-connector-2 {
		padding:0 0 50px;
	}
}

@media only screen and (min-width:900px) {
	.section-connector-2 {
		padding:0 0 75px;
	}
}

.section-connector-2 img {
	vertical-align:top;
}

.section-home-1-outer {
	background:#f9f3ea url(images/bg-section-home-1-outer.jpg) no-repeat scroll 50% 100%;
	background-size:cover;
}

#section-home-1 {
	margin:0 auto; padding:0 0 35px;
	text-align:center;
}

@media only screen and (min-width:569px) {
	#section-home-1 {
		padding:0 0 50px;
	}
}

@media only screen and (min-width:900px) {
	#section-home-1 {
		max-width:1200px;
		padding:0 0 70px;
	}
}

#section-home-1 hr {
	margin:20px 0 30px;
}

@media only screen and (min-width:569px) {
	#section-home-1 hr {
		margin:45px 0 50px;
	}
}

#section-home-1 ul {
	margin-left:0;
}

.sh1-1 {
	padding:0 10px;
}

.sh1-1 ul {
	text-align:left;
}

.sh1-1-pic {
	padding:20px 10% 0;
}

@media only screen and (min-width:768px) {
	.sh1-1-pic {
		padding:15px 0 0;
	}
}

.sh1-2 {
	padding:0 10px;
}

.sh1-2 ul {
	text-align:left;
}

.sh1-2-pic {
	padding:30px 10% 0;
}

@media only screen and (min-width:768px) {
	.sh1-2-pic {
		padding:40px 0 60px;
	}
}

.sh1-3 {
	padding:0 10px;
}

.sh1-3 ul {
	text-align:left;
}

.sh1-3-pic {
	padding:30px 25% 0;
}

@media only screen and (min-width:768px) {
	.sh1-3-pic {
		padding:30px 0 0;
	}
}

@media only screen and (min-width:992px) {
	.sh1-3-pic {
		padding:30px 0 54px;
	}
}

.section-home-2-outer {
	background:#00374f url(images/bg-section-home-2-outer.jpg) no-repeat scroll 50% 100%;
	background-size:cover;
}

#section-home-2 {
	padding:0 0 35px;
	text-align:center;
	color:#fff;
}

@media only screen and (min-width:569px) {
	#section-home-2 {
		padding:0 0 45px;
	}
}

@media only screen and (min-width:900px) {
	#section-home-2 {
		padding:0 0 65px;
	}
}

@media only screen and (min-width:1200px) {
	#section-home-2 {
		max-width:1200px;
		margin:0 auto; padding:0 0 140px;
	}
}

#section-home-2 h3 {
	font-size:28px;
	color:#fff;
}

@media only screen and (min-width:569px) {
	#section-home-2 h3 {
		font-size:45px;
	}
}

@media only screen and (min-width:900px) {
	#section-home-2 h3 {
		font-size:60px;
	}
}

#section-ip-1 {
	max-width:1200px;
	margin:0 auto; padding:0;
	/*text-align:center;*/
	color:#1d1d1d;
}

#section-ip-2 {
	padding:0;
}

@media only screen and (min-width:569px) {
	#section-ip-2 {
		max-width:1200px;
		margin:0 auto; padding:0 0 45px;
	}
}

#section-ip-2 h2 {
	/*text-align:center;*/
	/*color:#1d1d1d;*/
}

#section-ip-2 li {
	background-image:url(images/li-arrow-3-2.png);
}

@media only screen and (min-width:569px) {
	#section-ip-2 li {
		background-image:url(images/li-arrow-3-1.png);
	}
}

#section-ip-3 {
	padding:0;
}

@media only screen and (min-width:569px) {
	#section-ip-3 {
		max-width:1200px;
		margin:0 auto;
		/*padding:0 7%;*/
	}
}

#section-ip-3 h3 {
	/*text-align:center;*/
	/*color:#1d1d1d;*/
}

#section-ip-3 li {
	background-image:url(images/li-arrow-3-2.png);
}

@media only screen and (min-width:569px) {
	#section-ip-3 li {
		background-image:url(images/li-arrow-3-1.png);
	}
}

#section-api-1 {
	max-width:1200px;
	margin:0 auto; padding:0;
}

#section-testimonials-1 {
	margin:0 auto; padding:0;
}

@media only screen and (min-width:768px) {
	#section-testimonials-1 {
		max-width:1200px;
		margin:0 auto 20px; padding:0;
	}	
}

.st1-logos-wrapper {
	max-width:1000px;
	padding:20px 20px 5px; margin:0 auto;
	text-align:center;
}

.st1-logos-wrapper span {
	box-sizing:border-box;
	display:inline-block;
	width:100%; max-width:250px; 
	padding:0 20px 20px;
	vertical-align:middle;
}

#why-pubfood-sub-menu {
	padding:25px 25px; margin:0 0 30px;
	line-height:1.5;
	background:#bb834a;
	font-size:17px;
}

#why-pubfood-sub-menu h4 {
	font-size:20px;
}

#why-pubfood-sub-menu ul {
	margin:0;
}

#why-pubfood-sub-menu li {
	background-image:url(images/li-arrow-2-2.png);
}

@media only screen and (min-width:569px) {
	#why-pubfood-sub-menu li {
		background-image:url(images/li-arrow-2-2.png);
	}
}

#why-pubfood-sub-menu li a {
	text-decoration:none;
	color:#fff;
}

#why-pubfood-sub-menu li a:hover {
	text-decoration:underline;
	color:#fff;
}

#why-pubfood-sub-menu.affix {
	position:static;
}

@media only screen and (min-width:992px) {
	#why-pubfood-sub-menu.affix {
		position:fixed; top:25px;
		width:29%;
	}
}

@media only screen and (min-width:1200px) {
	#why-pubfood-sub-menu.affix {
		width:26%;
	}
}

.section-why-pubfood-1-outer {
	background:url(images/bg-section-why-pubfood-1-outer.jpg) no-repeat scroll 50% 50%;
	background-size:cover;
}

#section-why-pubfood-1 {
	padding:60px 0 50px;
}

#section-why-pubfood-1 ul {
	margin-left:10px;
}

.swp1-col-1 {
	
}

.swp1-col-1 h4 {
	font-size:20px;
}

.swp1-col-1 ul li {
	background-image:url(images/li-x-2.png);
}

@media only screen and (min-width:569px) {
	.swp1-col-1 ul li {
		background-image:url(images/li-x.png);
	}
}

.swp1-col-2 {
	
}

.swp1-col-2 h4 {
	font-size:20px;
}

.swp1-col-2 ul li {
	background-image:url(images/li-checkmark-2.png);
}

@media only screen and (min-width:569px) {
	.swp1-col-2 ul li {
		background-image:url(images/li-checkmark.png);
	}
}

#example-ga-reports-menu {
	/* needed by jQuery */
}

#adunit,
#device,
#latency {
	display:none;
	margin:0 0 55px;
}

#accordion-sub-menu {
	overflow:auto;
	padding:15px 25px 0; margin:0 0 30px;
	background:#bb834a;
	/*background:#ba8249 url(images/bg-accordion-sub-menu.jpg) no-repeat scroll 50% 0;*/
	background-size:cover;
	font-size:16px;
}

@media only screen and (min-width:1000px) {
	#accordion-sub-menu {
		top:50px;
		padding:25px 50px 10px;
		font-size:15px;
	}
}

#accordion-sub-menu.affix {
	position:static;
}

@media only screen and (min-width:1000px) {
	#accordion-sub-menu.affix {
		position:fixed; top:25px;
		width:29%;
	}
}

@media only screen and (min-width:1200px) {
	#accordion-sub-menu.affix {
		width:26%;
	}
}

#accordion-sub-menu h3 {
	display:table;
	margin:0 0 5px; padding:0 25px 0 0;
	background:url(images/bg-arrow-3-1.png) no-repeat scroll 100% 55%;
	color:#fff;
	cursor:pointer;
	font-size:20px;
}

@media only screen and (min-width:1000px) {
	#accordion-sub-menu h3 {
		margin:0 0 10px;
		background:none;
		/*background-image:url(images/bg-arrow-3-2.png);*/
		font-size:24px;
	}
}

#accordion-sub-menu h3 a {
	color:#fff; text-decoration:none;
}

#accordion-sub-menu h3 a:hover {
	color:#fff; text-decoration:none;
}

#accordion-sub-menu ul {
	margin:0 0 25px; padding:0;
}

#accordion-sub-menu ul ul {
	display:none;
}

#accordion-sub-menu ul li {
	margin:0 0 1px; padding-left:0;
	background:none;
}

#accordion-sub-menu a {
	color:#00374f; text-decoration:none;
}

#accordion-sub-menu a:hover {
	color:#00374f; text-decoration:underline;
}

#accordion-sub-menu .nav > li > a {
	padding:0;
}

#accordion-sub-menu .nav > li > a:hover {
	background:none;
}

#accordion-sub-menu .nav-pills > li > a {
	border-radius:0;	
}

#accordion-sub-menu .nav-pills > li.active > a {
	color:#fff;
	background:none;
}

#accordion-sub-menu .accordion-heading-active {
	background:url(images/bg-arrow-3-2.png) no-repeat scroll 100% 55%;
}

@media only screen and (min-width:1000px) {
	#accordion-sub-menu .accordion-heading-active {
		background-image:url(images/bg-arrow-3-1.png);
	}
}

#accordion-sub-menu .nav ul.nav {
            
}

@media only screen and (min-width:1000px) {
	#accordion-sub-menu .nav ul.nav {
		display: none; /* hide all (inactive) nested lists */  
	}
}

#accordion-sub-menu .nav>.active>ul.nav {
    display: block; /* show active nested list */
}

#anchor-section-heading-1,
#anchor-section-heading-2,
#anchor-section-heading-3 {
	/* these selectors are to be used as anchors only :: do not style */
}

.footer-wrapper-outer {
	margin:35px 0 0;
	background:#00374f;
}

body.home .footer-wrapper-outer {
	margin:0;
}

body.page-why-pubfood .footer-wrapper-outer {
	margin:0;
}

#footer-wrapper {
	position:relative;
	max-width:1200px;
	margin:0 auto; padding:20px 0 25px;
	font-size:15px; font-weight:400;
	color:#ba8249; text-align:center;
}

body.home #footer-wrapper {

}

@media only screen and (min-width:1200px) {
	body.home #footer-wrapper {
		padding:70px 0 25px;
	}
}

#footer-wrapper ul {
	margin:0; padding:20px 0 15px;
	list-style-type:none;
	font-size:18px;
}

@media only screen and (min-width:768px) {
	#footer-wrapper ul {
		margin:0; padding:20px 0 15px;
		font-size:20px;
	}
}

#footer-wrapper ul li {
	margin:0 20px 15px; padding:0;
}

@media only screen and (min-width:768px) {
	#footer-wrapper ul li {
		display:inline-block;
		margin:0 20px; padding:0;
	}
}

#footer-wrapper ul li a {
	margin:0; padding:0;
	color:#fff; text-decoration:none;
}

@media only screen and (min-width:768px) {
	#footer-wrapper ul li a {
		margin:0; padding:0;
		color:#fff; text-decoration:none;
	}
}

#footer-wrapper ul li a:hover {
	color:#ba8249; text-decoration:none;
}

#footer-wrapper p:last-child {
	margin:0;
}

#footer-wrapper p:last-child span {
	display:block;
	margin:0 10px 10px;
}

@media only screen and (min-width:568px) {
	#footer-wrapper p:last-child span {
		display:inline;
		margin:0 10px;
	}
}

#footer-logo {
	padding:0 0 15px;
	text-align:center;
}

@media only screen and (min-width:768px) {
	#footer-logo {
		padding:0 0 5px;
	}
}

body.home #footer-logo {
	padding:0 0 15px;
	text-align:center;
}

@media only screen and (min-width:768px) {
	body.home #footer-logo {
		padding:0 0 5px;
	}
}

@media only screen and (min-width:1200px) {
	body.home #footer-logo {
		position:absolute; top:-78px; left:43.25%;
		width:13.5%;
		padding:0;
	}
}

.f-logo-1 {
	display:none;
}

body.home .f-logo-1 {
	display:none;
}

@media only screen and (min-width:1200px) {
	body.home .f-logo-1 {
		display:inline;
	}
}

.f-logo-2 {

}

body.home .f-logo-2 {

}

@media only screen and (min-width:1200px) {
	body.home .f-logo-2 {
		display:none;
	}
}

ul.getting-started-list {
	margin:0 0 20px;
}

ul.getting-started-list li {
	padding:0;
}

.anchor-nav {
	padding:25px 0 10px;
	text-align:center;
}

.anchor-nav ul {
	margin:0; padding:0;
	list-style-type:none;
}

.anchor-nav li {
	padding:0 0 8px; margin:0;
}

@media only screen and (min-width:750px) {
	.anchor-nav li {
		display:inline-block;
		padding:0 0 0 30px;
		background:url(/wp-content/themes/ippolito/images/text-divider.jpg) no-repeat scroll 12px 50%;
	}
}

.anchor-nav li:first-child {
	padding-left:0;
	background:none;
}

.anchor-nav a {
	color:#f50; text-decoration:none;
}

.anchor-nav a:hover {
	color:#555; text-decoration:none;
}

.breadcrumbs-nav {
	display:none;
}

@media only screen and (min-width:569px) {
	.breadcrumbs-nav {
		display:block;
		padding:0 20px 25px;
		line-height:1.4;
		font-size:14px;
	}
}

.breadcrumbs-nav ul {
	margin:0; padding:0;
}

.breadcrumbs-nav li {
	display:inline-block;
	margin:0; padding:0 10px 0 20px;
	background:url(/wp-content/themes/theme-name/images/bg-breadcrumb-separator.png) no-repeat scroll 0 50%;
}

.breadcrumbs-nav li:first-child {
	padding-left:0;
	background:none;
}

.breadcrumbs-nav a {
	color:#777; text-decoration:none;
}

.breadcrumbs-nav a:hover {

}

.breadcrumbs-nav a.breadcrumb-link-last,
.breadcrumbs-nav a.breadcrumb-link-last:hover {
	color:#777; text-decoration:none;
	cursor:text;
}

/* begin main nav styles */

#mn-toggle-link {
	position:absolute; top:25px; right:25px;
	width:26px; height:15px;
}

@media only screen and (min-width:569px) {
	#mn-toggle-link {
		top:35px; right:35px;
		width:85px;
	}
}

@media only screen and (min-width:1000px) {
	#mn-toggle-link {
		display:none;
	}
}

#mn-toggle-link a {
	display:block;
	width:100%; height:100%;
	background:url(images/bg-mn-toggle-link.png) no-repeat scroll 100% 0;
	text-decoration:none;
}

#mn-toggle-link a:hover {
	text-decoration:none;
}

.main-nav-outer {
	padding:0 15px;
	background:#fff;
}

@media only screen and (min-width:1000px) {
	.main-nav-outer {
		max-width:none;
		margin:0 auto; padding:0 20px;
	}
}

#main-nav {
	display:none;
	position:relative; z-index:1000;
	padding:15px 0; margin:0 0 25px;
	border-radius:10px;
	background:#012b3e;
	text-align:center;
}

@media only screen and (min-width:569px) {
	#main-nav {
		width:70%;
		padding:18px 0; margin:0 auto;
	}
}

@media only screen and (min-width:1000px) {
	#main-nav {
		display:block;
		width:auto;
		padding:0; margin:0;
		border-radius:0;
		background:none;
		text-align:center;
	}
}

#main-nav ul {
	margin:0; padding:0;
	list-style-type:none;
}

#main-nav ul ul {
	display:none;
	margin:0; padding:0;
	background:#88b833;
	text-align:left;
}

@media only screen and (min-width:1000px) {
	#main-nav ul ul {
		position:absolute; top:100%; left:0;
		width:100%; min-width:210px;
		padding:0 0 9px;
		border-radius:0 0 5px 5px;
		text-align:left;
	}
}

#main-nav ul li:last-child ul {

}

@media only screen and (min-width:1150px) {
	#main-nav ul li:last-child ul {
		left:auto; right:0;
	}
}

@media only screen and (min-width:1300px) {
	#main-nav ul li:last-child ul {
		left:0; right:auto;
	}
}

#main-nav li {
	position:relative;
	margin:0; padding:0;
}

@media only screen and (min-width:1000px) {
	#main-nav li {
		display:inline-block;
	}
}

#main-nav li li {
	display:block;
}

#main-nav li a {
	display:block;
	padding:9px 25px 7px; margin:0;
	line-height:1.7;
	font-size:17px; font-weight:400;
	color:#fff;
	text-decoration:none; text-transform:uppercase;
}

@media only screen and (min-width:1000px) {
	#main-nav li a {
		padding:0; margin:0 0 0 18px;
		line-height:1;
		font-size:13px; font-weight:bold;
	}
}

@media only screen and (min-width:1100px) {
	#main-nav li a {
		padding:0; margin:0 0 0 18px;
		font-size:14px;
	}
}

@media only screen and (min-width:1200px) {
	#main-nav li a {
		padding:0; margin:0 0 0 19px;
		font-size:15px;
	}
}

@media only screen and (min-width:1300px) {
	#main-nav li a {
		padding:0; margin:0 0 0 24px;
		font-size:17px;
	}
}

#main-nav li:first-child a {
	margin-left:0;
}

#main-nav li a:hover {
	color:#fff; text-decoration:none;
	background:#023f5a;
}

@media only screen and (min-width:1000px) {
	#main-nav li a:hover {
		color:#ba8249;
		background:none;
	}
}

#main-nav li a.mn-link-active {
	color:#ba8249;
}

#main-nav li li a {
	padding:9px 45px;
	line-height:1.5;
	text-transform:none;
	font-size:15px; font-weight:normal;
}

@media only screen and (min-width:1000px) {
	#main-nav li li a {
		padding:9px 23px;
	}
}

#main-nav li li a:hover {

}

.menu-item-has-children {

}

#main-nav .responsive-mn-item {
	display:block;
}

@media only screen and (min-width:569px) {
	#main-nav .responsive-mn-item {
		display:none;
	}
}

#main-nav .responsive-mn-item-2 {

}

#main-nav .responsive-mn-item-3 {

}

/* end main nav styles */
